@charset "utf-8";

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 1320px;
    font-family: 'GowunBatang';
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

/* 헤더 */

.header {
    width: 100%;
    /* max-width: 1730px; */
    margin: auto;
    justify-content: space-between;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 0.1% 5% 0.6%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7);
}

.top_logo {
    margin-top: 10px;
}

.header_title {
    margin: auto;
}

.icons {
    padding-top: 0.6%;
    width: 170px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.icons a:hover {
    opacity: 50%;
}

.header_p {
    font-family: 'GowunBatang';
    font-size: 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 12px;
}

/* 메인페이지 */
.main {
    width: 90%;
    height: 866px;
    margin: auto;
    margin-top: 6%;
    position: relative;
    overflow: hidden;
    background: url(../images/main/main_background.png) no-repeat center top;
    animation: show2 3s linear forwards;
}

.main_brandname {
    position: absolute;
    top: 3%;
    left: 16%;
    animation: show 5s linear forwards;
    width: 70%;
}

@keyframes show {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes show2 {
    0% {
        background-size: 2200px;
    }

    100% {
        background-size: 1730px;
    }
}

.butterfly {
    position: absolute;
    left: 10%;
    top: 35%;
    width: 15%;
    animation: butterfly 5s linear;
}

@keyframes butterfly {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.butterfly2 {
    position: absolute;
    right: 5%;
    top: 30%;
    width: 15%;
    animation: butterfly 6s linear;
}

/* 돌아가는 원형 버튼 */
.circle_button {
    position: absolute;
    right: 5%;
    bottom: 5%;
    z-index: 1000;
}

.white_logo {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    z-index: 1000;
}

@keyframes round {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.circle {
    animation: round 10s linear infinite;
}

/* 메뉴 화면 */
.menu {
    background-color: rgb(120, 164, 191);
    border-radius: 50% 50% 0 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    z-index: 700;
    transition: 0.7s;
}

.menu.up {
    left: 0;
    border-radius: 0;
}

.menu_lines {
    width: 522px;
    margin: auto;
    padding-top: 150px;
}

.menu li {
    text-align: center;
}

.menu li:hover {
    filter: brightness(30%);
}

.out_button {
    position: absolute;
    left: 47.7%;
    bottom: 5.8%;
    z-index: 1000;
}

.out_button:hover {
    filter: grayscale(10);
}

/* 탑 버튼 꾸미기 */
.topbutton {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
}


/* 베스트셀러 */
.best {
    width: 1320px;
    margin: auto;
    margin-top: 150px;
}

h1 {
    text-align: center;
    background: url(../images/main/line_1.png) no-repeat center 50px;
    position: relative;
    margin-bottom: 40px;
}

.small_text {
    font-size: 16px;
    font-family: 'GowunBatang';
    color: #aaa;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
}

.best_3 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.best_3 li {
    position: relative;
    text-align: center;
}

.best_toner {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.best_teatree {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.best_shampoo {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
}

.best_3 p {
    font-size: 20px;
    font-family: 'GowunBatang';
}

.best_text {
    margin-top: 40px;
}

.best_price {
    margin-top: 20px;
    color: #C9AA45;
}

.more_box {
    text-align: right;
    margin-top: 50px;
}

.more_box:hover a {
    background-color: #d1c9a8;
    color: #fff;
    transition: 0.4s
}

.more_box a {
    display: inline-block;
    border: 2px solid #d1c9a8;
    padding: 5px 20px;
    font-size: 18px;
    font-family: 'GowunBatang';
}

.best_3 li:hover .best_draws {
    opacity: 0.3;
}

.best_draws {
    transition: 1s;
}

/* 브랜드 스토리 */
.brand_big {
    width: 100%;
    background-color: #ECE2D4;
    padding-top: 100px;
    margin-top: 150px;
    margin-bottom: 10px;
    padding-bottom: 100px;
}

.brandstory_wrap {
    width: 1320px;
    margin: auto;
    margin-top: 150px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.brandstory_text {
    width: 528px;
    text-align: center;
}

.brandstory_text img {
    margin-top: 60px;
    margin-bottom: 90px;
}

.brandstory_text p {
    font-size: 25px;
    font-family: 'GowunBatang';
    line-height: 50px;
    letter-spacing: 2px;
}

.brandstory_text .brandtext_eng {
    font-size: 18px;
    color: #9BAE87;
    margin-top: 50px;
    line-height: 40px;
    letter-spacing: 0px;
}

.brand_circle {
    position: absolute;
    right: 380px;
    top: -80px;
    z-index: 100;
    animation: round 10s linear infinite;
}

@keyframes round {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* 신상품 */
.newpro_big {
    max-width: 1920px;
    width: 90%;
    padding-top: 150px;
    margin: auto;
}

.newpro_big h1 {
    margin-top: 10px;
}

.new_text {
    width: 90%;
    height: 90%;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    opacity: 0;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new_a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: right;
    padding-right: 20px;
    width: 100%;
    position: absolute;
    top: 5%;
}

.new_a li {
    margin-right: 5px;
}

.new_a li:hover a {
    opacity: 50%;
}

.new_price {
    color: #C9AA45;
}

.gallery-center .swiper-slide:hover .new_text {
    opacity: 1;
}

.new_top {
    margin-top: 10px;
}

.new_text p {
    margin-bottom: 10px;
}

.view_more {
    margin-top: 5px;
    display: inline-block;
    padding: 0 10px;
    border: 0.5px solid #d1c9a8;
    transition: 0.5s;
}

.view_more:hover {
    background-color: #d1c9a8;
    color: #fff;
}

/* 갤러리 센터 꾸미기 */
.gallery-center {
    width: 90%;
    height: 100%;
    margin: 150px auto;
    padding: 0 50px 40px;
    box-sizing: border-box;
    position: relative;
}

.gallery-center_inner {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.gallery-center_inner .swiper-slide {
    position: relative;
}

.gallery-center .swiper-slide .new_pics {
    display: block;
    width: 100%;
}

/*이동버튼 영역 색상 바꾸기*/
.gallery-center .swiper-button-prev,
.gallery-center .swiper-button-next {
    color: #d6d0be;
}

/*이동버튼 영역 호버 시 색상 바꾸기*/
.gallery-center .swiper-button-prev:hover,
.gallery-center .swiper-button-next:hover {
    color: #88816a;
}

/* 이동버튼 이미지로 바꾸기
		.gallery-center .swiper-button-prev,
		.gallery-center .swiper-button-next{
			width: 50px;
			height: 50px;
		}
		.gallery-center .swiper-button-prev:after,
		.gallery-center .swiper-button-next:after{
			content: '';
			display: block;
			width: 50px;
			height: 50px;
		}
		.gallery-center .swiper-button-prev:after{
			background: url(../images/prev.png);
		}
		.gallery-center .swiper-button-next:after{
			background: url(../images/next.png);
		}
		*/

/* 블릿버튼 크기, 색상, 투명도 */
.gallery-center .swiper-pagination-bullet {
    background: #d6d0be;
    width: 10px;
    height: 10px;
    opacity: 0.5;
}

/* 블릿버튼 페이지 표시날 때 투명도 */
.gallery-center .swiper-pagination-bullet-active {
    opacity: 1;
}

/* 블릿버튼 위치 */
.gallery-center .swiper-horizontal>.swiper-pagination-bullets,
.gallery-center .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0px;
}

/* 배너 */
.learn_box a::before,
.learn_box a::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 80%;
    transform: translate(-50%, -50%);
    transition: all 0.8s;
}

.learn_box a::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 0;
}

.learn_box a::after {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    height: 0;
}

.learn_box:hover a::before {
    width: 90%;
}

.learn_box:hover a::after {
    height: 70%;
}

.bannerbox {
    width: 100%;
    height: 576px;
    background: url(../images/main/main_banner.png) no-repeat center top;
    /* position: relative; */
    margin-bottom: 100px;
}

.banner_in {
    width: 1320px;
    margin: auto;

}

.banner_text1 {
    font-size: 20px;
    line-height: 35px;
    color: #546C78;
    padding-left: 660px;
    padding-top: 260px;
    /* position: absolute;
    right: 570px;
    top: 260px; */
}

.learn_box {
    font-size: 20px;
    line-height: 35px;
    color: #546C78;
    padding-left: 660px;
    padding-top: 50px;
}

.learn_box:hover a {
    background-color: #a1bcc7;
    border: 1px solid #91aab4; 
    color: #fff;
    transition: 0.4s
}

.learn_box a {
    display: inline-block;
    border: 1px solid #546C78;
    padding: 5px 40px;
    font-size: 18px;
    font-family: 'GowunBatang';
    color: #57717E;
    position: relative;
}

/* 인스타그램 */
h2 {
    text-align: center;
    background: url(../images/main/line_2.png) no-repeat center 50px;
    position: relative;
    margin-bottom: 40px;
}

.insta {
    font-size: 20px;
    text-align: center;
}

/* 흘러가는 슬라이드 꾸미기 */
.flowslide {
    width: 100%;
    margin: 50px auto;
    box-sizing: border-box;
    position: relative;
}

.flowslide_inner {
    width: 100%;
    overflow: hidden;
}

.flowslide .swiper-wrapper {
    transition-timing-function: linear;
}

.flowslide .swiper-slide a {
    width: 100%;
    height: 100%;
}

.flowslide .swiper-slide img {
    display: block;
    width: 100%;
}

/* 흘러가는 슬라이드 꾸미기 */
.flowslide2 {
    width: 100%;
    margin: 50px auto;
    box-sizing: border-box;
    position: relative;
}

.flowslide_inner2 {
    width: 100%;
    overflow: hidden;
}

.flowslide2 .swiper-wrapper {
    transition-timing-function: linear;
}

.flowslide2 .swiper-slide a {
    width: 100%;
    height: 100%;
}

.flowslide2 .swiper-slide img {
    display: block;
    width: 100%;
}

/* 푸터 */
.footer {
    width: 100%;
    height: 317px;
    background: url(../images/footer_bg.png) no-repeat center top/cover;
}

.footer_wrap {
    width: 1320px;
    margin: auto;
    padding-top: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.footer_brandname {
    margin-bottom: 20px;
}

.footer_text1 p {
    /* font-family: '맑은고딕'; */
    margin-top: 10px;
}

.copyright {
    margin-top: 20px;
}

.footer_text2 {
    line-height: 30px;
    padding-top: 20px;
}

.footer_text2 a {
    margin-right: 10px;
}

.footer_text2 a:hover {
    opacity: 50%;
}