@charset "utf-8";

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 1320px;
    font-family: 'GowunBatang';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}
/* 탑 버튼 꾸미기 */
.topbutton {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
}
/* 헤더 */
.header {
    width: 100%;
    /* max-width: 1730px; */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    padding: 0.3% 5% 0.7%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.822)
}
.top_logo{
    margin-top: 16px;
}

.mid_header {
    width: 800px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.mid_header a {
    /* margin-left: 80px; */
    margin-top: 10px;
    font-size: 18px;
}
.mid_header .mid_brandname{
    margin-top: 0;
}
.mid_header a:hover {
    color: #C9AA45;
}

.mid_header img {
    display: block;
}

.icons {
    margin-top: 15px;
    width: 140px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}
.icons a:hover{
    opacity: 50%;
}

/* 메인화면 */
.top{
    width: 90%;
    max-width: 1732px;
    height: 781px;
    margin: auto;
    margin-top: 120px;
    background: url(../images/about/aboutus_bg.png) no-repeat center top;
    overflow: hidden;
    animation: show2 3s linear forwards;
    position: relative;
}
@keyframes show2 {
    0% {
        background-size: 2200px;
    }

    100% {
        background-size: 1730px;
    }
}
.top_white{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 30px 30px 10px 20px;
}
.top_white p{
    font-size: 16px;
    line-height: 25px;
    margin-top: 10px;
    color: #9A9982;
}
/* 돌아가는 원형 버튼 */
.circle_button {
    position: absolute;
    right: 5%;
    bottom: 5%;
    z-index: 1000;
}

.white_logo {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    z-index: 1000;
}

@keyframes round {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.circle {
    animation: round 10s linear infinite;
}
/* 메뉴 화면 */
.menu {
    background-color: rgb(120, 164, 191);
    border-radius: 50% 50% 0 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    z-index: 700;
    transition: 0.7s;
}

.menu.up {
    left: 0;
    border-radius: 0;
}

.menu_lines {
    width: 522px;
    margin: auto;
    padding-top: 120px;
}

.menu li {
    text-align: center;
}

.menu li:hover {
    filter: brightness(30%);
}

.out_button {
    position: absolute;
    left: 47.7%;
    bottom: 5.8%;
    z-index: 1000;
}

.out_button:hover {
    filter: grayscale(10);
}
/* 소개 사진 3장 */
.wave{
    text-align: center;
    position: relative;
}
.wave_text{
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 500;
    line-height: 30px;
}
.wave_name{
    max-width: 1730px;
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 150px;
}
.brand_id{
    width: 1320px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}
.brand_id li{
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    position: relative;
    }
.brand_id li p{
    padding-top: 50px;
}
.pic_text{
    width: 420px;
    height: 476px;
    font-size: 80px;
    padding-top: 180px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
.brand_id li:hover .pic_text p{
    transform: scale(1.2);
}
.pic_text p{
    transition: 0.8s;
}
.purity{
    color: #fff;
}
.harmony{
    color: #E8F6C4;
}
.beauty{
    color: #F9E1B0;
}
.pic_text{
    opacity: 0;
    transition: 2s 2s;
}
.brand_id .aos-animate .pic_text{
    opacity: 1;
}
/* hear, here */
.here_wrap{
    background-color: #ECE2D4;
    text-align: center;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
    
}
.here_1{
    position: relative;
    width: 1320px;
    height: 506px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    background-color: #ECE2D4;
}
.wide{
    position: absolute;
    right: -300px;
    overflow: hidden;
    }
.wide img{
    transition: 2s;
}
.wide:hover img{
    transform: scale(1.2);
}
.wide2, .wide3{
    overflow: hidden;
}
.wide2 img, .wide3 img{
    transition: 2s;
}
.wide2:hover img{
    transform: scale(1.2);
}

.wide3:hover img{
    transform: scale(1.2);
}

.here_text_ko{
    font-size: 25px;
    line-height: 45px;
    text-align: left;
}
.here_text_eng{
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: #9BAE87;
    margin-top: 40px;
}
.here_2{
    width: 1320px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.here_2 p{
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    margin-left: 83px;
}
.here_3{
    width: 1320px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 100px;
}
.here_3 p{
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    margin-right: 83px;
}
.here_4{
    width: 1320px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.here_4 p{
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    margin-left: 83px;
}
/* 핵심 가치 */
.value_wrap{
    width: 1320px;
    margin: auto;
    padding-top: 100px;

}
h1 {
    text-align: center;
    background: url(../images/about/value_line.png) no-repeat center 50px;
    position: relative;
    margin-bottom: 40px;
}
.small_text {
    font-size: 16px;
    font-family: 'GowunBatang';
    color: #aaa;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
}
.lab_pic{
    z-index: 500;
    overflow: hidden;
}
.value_wrap>div:hover .lab_pic img{
    transform: scale(1.3);
}
.lab_pic img{
    transition: 2s;
    display: block;
}
.value1{
    margin-top: 200px;
    margin-bottom: 300px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: relative;
}

.v1_text{
    position: absolute;
    right: 0;
    width: 1042px;
    height: 552px;
    box-sizing: border-box;
    padding-top: 150px;
    padding-left: 420px;
    box-shadow: 10px 10px 20px #ccc;
    font-size: 15px;
    line-height: 30px;
    background: url(../images/about/01_bg.png) no-repeat center center;
}
.value2{
    margin-top: 500px;
    margin-bottom: 500px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: relative;
}
.v2_text{
    position: absolute;
    left: 0;
    width: 1042px;
    height: 552px;
    box-sizing: border-box;
    padding-top: 200px;
   padding-left: 50px;
    box-shadow: -10px 10px 20px #ccc;
    font-size: 15px;
    line-height: 30px;
    background: url(../images/about/02_bg.png) no-repeat center center;
}
.sus_pic{
    z-index: 500;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}
.value_wrap>div:hover .sus_pic img{
    transform: scale(1.3);
}
.sus_pic img{
    transition: 2s;
    display: block;
}
.value_text_title{
    margin-bottom: 10px;
}
.v3_text{
    position: absolute;
    right: 0;
    width: 1042px;
    height: 552px;
    box-sizing: border-box;
    padding-top: 180px;
    padding-left: 420px;
    box-shadow: 10px 10px 20px #ccc;
    font-size: 15px;
    line-height: 30px;
    background: url(../images/about/03_bg.png) no-repeat center center;
}

/* 푸터 */
.footer{
    width: 100%;
    height: 317px;
    background: url(../images/footer_bg.png) no-repeat center top/cover;
}
.footer_wrap{
    width: 1320px;
    margin: auto;
    padding-top: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}
.footer_brandname{
    margin-bottom: 20px;
}
.footer_text1 p{
    /* font-family: '맑은고딕'; */
    margin-top: 10px;
}
.copyright{
    margin-top: 20px;
}
.footer_text2{
    line-height: 30px;
    padding-top: 20px;
}
.footer_text2 a{
    margin-right: 10px;
}
.footer_text2 a:hover{
    opacity: 50%;
}